.example-form {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin: 30px;
}

.example-full-width {
    width: 100%;
}


.center-gab {
    display: flex;
    justify-content: center;
}