<h1 *ngIf="title; else mensagemPadrao">{{title}}</h1>



<table>
  <th>Nome</th>
  <th>Sexo</th>
  <th>Idade</th>
  <th>Salario</th>

  <tr *ngFor="let client of clientes">
    <td>{{client.nome | uppercase}}</td>
    <td>{{client.sexo | sexo}}</td>
    <td>{{client.idade }}</td>
    <td>{{client.salario |  currency: 'BRL'}}</td>
  </tr>

</table>

<br>
<br>
<br>

<span>
{{clientes | json}}  
</span>

<span [ngSwitch]="title">
<p *ngSwitchCase="true">
  Esse é um paragrafo verdadeiro
</p>
<p *ngSwitchCase="false">
  Esse é um paragrafo falso
</p>
<p *ngSwitchDefault>
  Esse é um paragrafo Default
</p>
</span>



<ng-template #mensagemPadrao>
  <h1>Bem-vindo ao treinamento de Angular</h1>
</ng-template>



<input [(ngModel)]="title">


<button (click)="chamarFuncao()">Chamar evento</button>


<img [src]="imgUrl">

